@font-face {
  font-family: "Kaushan";
  src: 
    url("../media/fonts/kaushanscript-regular-webfont.woff2") format("woff2"),
    url("../media/fonts/kaushanscript-regular-webfont.woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  /* Give elements space to stretch out */
  height: 100%;

  --graphic-section-width: 35vw;
  --main-section-width: calc(100vw - var(--graphic-section-width));
}

body {
  height: 100%;
  display: flex;
}

.graphic-section {
  background: #1aba7a url(../media/imgs/graphic_background.avif) center/100%;
  width: var(--graphic-section-width);
  color: #ccc;
}

.graphic-section p {
  font-size: 2rem;
  font-family: "Kaushan", sans-serif;
  display: inline;
}

img {
  width: 25%;
}

main {
  background-color: #ccc;
  width: var(--main-section-width);
}