@font-face {
  font-family: "Kaushan";
  src: 
    url("../media/fonts/kaushanscript-regular-webfont.woff2") format("woff2"),
    url("../media/fonts/kaushanscript-regular-webfont.woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  height: 100%;

  --graphic-section-width: 35vw;
  --main-section-width: calc(100vw - var(--graphic-section-width));
}

body {
  height: 100%;
  display: flex;
}

.graphic-section {
  font-size: 2rem;
  background-color: #1aba7a;
  width: var(--graphic-section-width);
}

.graphic-section p {
  font-family: "Kaushan", sans-serif;
}

main {
  background-color: #ccc;
  width: var(--main-section-width);
}